.home-container {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #f9f9f9;
}

.home-container h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 15px;
}

.home-container p {
  font-size: 16px;
  color: #666;
}
